.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.audio-controls audio {
    height: 28px;
    border-radius: 14px;
    background-color: #f3f4f6;
}

@media (min-width: 640px) {
    .audio-controls audio {
        height: 32px;
        border-radius: 16px;
    }
}

.audio-controls audio::-webkit-media-controls-panel {
    background-color: #f3f4f6;
}

.audio-controls audio::-webkit-media-controls-play-button,
.audio-controls audio::-webkit-media-controls-volume-slider,
.audio-controls audio::-webkit-media-controls-mute-button,
.audio-controls audio::-webkit-media-controls-timeline {
    cursor: pointer;
}

.audio-controls audio::-webkit-media-controls-timeline {
    border-radius: 8px;
}

@media (hover: none) {
    .group:hover button {
        opacity: 1;
    }
}

.grid-flow-col {
    grid-auto-flow: column dense;
}

@media (max-width: 639px) {
    .grid-rows-1 {
        grid-template-rows: 1fr;
    }
}