
.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

@media (hover: none) {
    .group:hover button {
        opacity: 1;
    }
}

.grid-flow-col {
    grid-auto-flow: column dense;
}

@media (max-width: 639px) {
    .grid-rows-1 {
        grid-template-rows: 1fr;
    }
}